/* Estilos para la sección de Recordatorios de Viaje */
h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin-bottom: 10px;
}

/* Estilos para la sección de Reservas Simples */
h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la sección de Comentarios de Usuarios */
h4 {
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}